<cfg xmlns="http://alternativaplatform.com/core/config.xsd">
<server address="c14.eu.tankionline.com" mode="simple">
<ports>
<port>15050</port>
<port>14444</port>
<port>15223</port>
<port>15190</port>
<port>15222</port>
</ports>
<webSocketPorts>
<port>19090</port>
</webSocketPorts>
</server>
<status>normal</status>
</cfg>